<h1>
  {{title}}
</h1>
<button (click)="add()">Add</button>
<button (click)="update()">Update</button>
<button (click)="set()">Set</button>
<button (click)="setToNull()">SetToNull</button>
<button (click)="remove()">Remove</button>
<ul>
  <li *ngFor="let c of cuisines | async">{{ c.name }}</li>
</ul>
{{ (restaurant | async)?.name }}
<div *ngIf="(exists | async)?.$value">EXISTS</div>
<h1>Cuisines</h1>
<ul>
  <li *ngFor="let c of cuisines | async">{{ c.$key + '-' + c.$value }}</li>
</ul>
<h1>Restaurants</h1>
<button (click)="addRestaurant()">Add restaurant</button>
<ul>
  <li *ngFor="let r of restaurants | async">
    {{ r.name }} - {{ (r.cuisineType | async)?.$value }}
    <ul>
      <li *ngFor="let f of r.featureTypes">
        {{ (f | async)?.$value }}
      </li>
    </ul>
  </li>
</ul>